@font-face {
    font-family: 'Calculator';
    font-weight: normal;
    font-style: normal;
    src: url('./fonts/digital-7.regular.ttf');
}

body {
    background-color: lightslategrey;
}

.calculator {
    background-color: black;
    border: 2px solid darkslateblue;
    display: grid;
    grid-template-rows: repeat(2, 10%) repeat(5, auto);
    grid-template-columns: repeat(4, 25%);
    grid-template-areas: 
                         "calculation calculation calculation calculation"
                         "paragraph paragraph paragraph paragraph"  
                         "ac ac division multiplication"
                         "seven eigth nine subt"
                         "four five six plus"
                         "one two three equal"
                         "zero zero point equal";                 
    font-family: 'Calculator';
    height: 400px;
    margin: 200px auto;
    position: relative;
    padding: 5px;
    width: 335px;
    gap: 1px;
}

button {
    background-color: #333;
    border: none;
    color: white;
    font-family: 'Calculator';
    font-size: 20px;
    outline: 1px solid black;
}

button:hover {
    outline: 1px solid white;
    transform: scale(1.001);
    color: black;
}

span {
    color: orange;
    display: block;
    font-size: 20px;
    grid-area: calculation;
    text-align: right;
    user-select: none;
    margin: 0px auto;
    width: 100%;
}

p {
    color: white;
    font-size: 30px;
    grid-area: paragraph;
    text-align: right;
    user-select: none;
    margin: 0px auto;
    width: 100%;
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

#seven {
    grid-area: seven;
}

#eigth {
    grid-area: eigth;
}

#nine {
    grid-area: nine;
}

#zero {
    grid-area: zero;
}

#plus {
    grid-area: plus;
    font-size: 25px;
    background-color: gray;
}

#sub {
    grid-area: subt;
    font-size: 25px;
    background-color: gray;
}

#division {
    grid-area: division;
    font-size: 25px;
    background-color: gray;
}

#multiplication {
    grid-area: multiplication;
    font-size: 25px;
    background-color: gray;
}

#point {
    grid-area: point;
    font-size: 40px;
}

#ac {
    grid-area: ac;
    font-size: 25px;
    background-color: firebrick;
}

#equal {
    grid-area: equal;
    font-size: 25px;
    background-color: rgb(48, 56, 129);
}

#coded {
    display: block;
    font-family: monospace;
    font-size: 18px;
    text-align: center;
    width: 100%;
    margin: 383px auto;
    color: #333;
}

#me {
    display: block;
    font-family: monospace;
    font-size: 17px;
    text-align: center;
    width: 100%;
    margin: 412px auto;
    color: #333;
}
